mixin button( text, icon )
    .button__container
        #firstScreen.button__check
            label.check__label
                input#mainCheckbox.check__input( type="checkbox" )
                .check__checked
            .check__container
                span.check__big Я СОГЛАСЕН
                span.check__link
                    a( href="http://videomeo.by/static/mts-by-rules.html", target="_blank" ) с условиями подписки
        button#wapSubmitBtn.button__buy( type="submit", th:classappend="${!isWebRequest} ? 'wap'", th:if="${useSmsLink == null || useSmsLink == 'false'}" )
            case icon
                when '+'
                    span( th:switch="${evalRequestType}" )
                        span( th:case="'subscription-request'" )
                            span.button__text #{ text }
                    span.button__icon
                default
                    span( th:switch="${evalRequestType}" )
                        span( th:case="'subscription-request'" )
                            span #{ text }

